@charset "utf-8";
/* CSS Document */
#cab img{
	float: left;
}
#menu {
	float: left;
	margin-top: 93px;
	width: 453px;
}

#menu a:hover{
	color:#000;
}

#menu ul{
	list-style: none;
	background:linear-gradient(to bottom, #ddd, #666);
	padding: 0px;
	margin: 0px;
}

#menu li{
	height: 57px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	border-right: 1px solid #062;
}

#menu ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}

body{
	margin: 0 auto;
	width: 960px;
	background-color: #ddd;
	padding: 0px;
	background: url(fundo.gif) repeat-x;
	margin-top: 20px;
}

#social{
	float:right;
	margin-top: 40px;
}

#social img{
	width: 32px;
	height: 32px;
}

.fix{
	clear: both;
}

#lateral{
	float:right;
	background: #ddd;
	width: 190px;
	border-radius: 10px;
	padding: 5px;
}

#lateral h1{
	font-size:15pt;
	text-align: center;
	border-bottom: 1px solid #000;
	margin-top: -5px;
}

#lateral h2{
	font-size: 15pt;
}

#lateral p{
	text-align: justify;
}

#main{
	background: #eee;
	width: 730px;
	border-radius: 10px;
	padding: 5px;
}

#main h1{
	font-size: 20pt;
	border-bottom: 1px solid #000;
}

#main h2{
	font-size: 15pt;
}

#main p{
	text-align: justify;
}

footer{
	color:#888;
	border: 1px solid black;
	margin-top:15px;
}

footer p{
	display: inline-block;
	width: 316px;
	text-align: center;
}

#slider{
	width: 960px;
	height: 384px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#slider img{
	width: 960px;
	height: 384px;
}

#b1{
	position: relative;
	left: 0px;
	top: 0px;
}

#b2{
	position:relative;
	left: 0px;
	top: -388px;
}

#b3{
	position: relative;
	left: 0px;
	top: -777px;
}

/*
 *------------------------------------------
 *-----------------SUMARIO------------------
 *------------------------------------------
 */
 
 details summary::-webkit-details-marker {
	 display: none;
 }
 
 details summary::-moz-details-marker {
	 display: none;
 }
 
 details{
	 margin-top: 30px;
	 cursor: pointer;
 }
 
 summary{
	 height: 40px;
	 border-radius: 10px;
	 padding: 15px 0px 0px 10px;
	 font: 15pt Arial;
	 font-weight: bold;
	 background: linear-gradient(to bottom, #eee, #999);
 }
 
 details p{
	 font-size: 20px;
 }
 
 summary:before{
	 margin-right: 5px;
	 content:"+ ";
 }
 
 details[open] summary:before {
	 content:"- ";
 }