/*
a{
	text-decoration: none;	
	color: #FFF;
	size: 20px;
	background-color:#006;
	padding: 20px;
}
a:hover{
background-color:#88f;

}




a:link, a:visited, a:active{

}
*/
	
a:link{
	text-decoration:none;	
}
a:visited{
 	color:#0F3;
}
a:active{
	color: #F00;
}
a:hover{
	color: #FF0;
}
*/
